body {
  background-color: #ff0000;
  margin: 0; /* Уберем стандартные отступы браузера */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Для центрирования по вертикали на всю высоту экрана */
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Расстояние между элементами */
  max-width: 800px; /* Максимальная ширина контейнера */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6); /* Прозрачный фон контейнера */
  padding: 20px;
  border-radius: 10px;
}
h1 {
  color: #ff0000;
}

.container {
  width: 100%;
  color: #fff;
}

.gift-container {
  width: 70%;
}

button {
  background-color: #c37b89;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 20px;
}
.delete {
  width: 40%;
  text-align: center;
  margin-top: 20px;
}
